/** homepage and layout */

body{ 
    margin: 0%;
    background-color: rgb(189, 178, 106);
}
.cont-recipe{
    background-image:url(/public/media/recipe.avif) ;
    background-size: cover;
    height: 450px;
    margin-top: 50px;
    background-attachment:initial;
   
}

.transition-fade{
    
    opacity: 12;
    transition: 1s;
    /* transform: translateY(0);
    transform-origin: right;  */
    
}

html.is-animating .transition-fade{
    
    opacity: 0;
    /* transform: translateY(100%); */
}
 
/* html.is-leaving .transition-fade{
    opacity: 0;
    transform: translateX(0);
}  
*/

.text-custom{
    font-family: 'Bodoni Moda', serif;
    font-size: 140px;
    float: right;
    color: rgb(0, 0, 0);
    
}
.btn{
    font-family: 'Bodoni Moda', serif;
    background: #eecccc;
    border-radius: 0;
    width: 200px;
    border: none;
    transition: 2s;
    transform: translateY(0);
    transform-origin: bottom;
}

html.is-animating .btn{
   
    transform: translateY(100px);
}

.btn:hover{
    background: #b79595;
    color: azure;
}
.card{
    margin-top: 100px;
}